.App {
  text-align: center;
  background-color: #4a148c;
}

body {
  color: white;
  background-color: #7c43bd;
}

td {
  color: white !important;
}

Button {
  color:white !important;
  background-color: #002f6c !important;
}

#Labels {
  background-color: #4a148c;
}

.Monster-Row {
  align-content: left;
  background-color: #7c43bd;
}