:root {
  --primary-color: #34626C;
  --secondary-color: #839B97;
  --button-color: #C6B497;
}

.App {
  text-align: center;
}

body {
  color: white !important;
  background-color: var(--primary-color);
}

p {
  color: white !important;
}

td {
  color: white !important;
}

th {
  background-color: var(--secondary-color) !important;
}

div {
  background-color: var(--primary-color) !important;
}

input {
  background-color: white !important;
  color: black !important;
}

button {
  color: white !important;
  background-color: var(--button-color) !important;
}

.UpdateButton {
  position: fixed !important;
  bottom: 100px;
  right: 25px;
}

.grid-container {
  display: grid;
  grid-gap: 15px;
}

.about-grid {
  grid-row-start: 1;
  grid-row-end: 3;
}

.stats-grid {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
}

.saves-grid {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

.skills-grid {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

tr {
  align-content: left;
  background-color: var(--primary-color);
}
