:root {
  --primary-color: #7c43bd;
  --secondary-color: #4a148c;
  --button-color: #002f6c;
}

.App {
  text-align: center;
}

body {
  color: white;
  background-color: var(--primary-color);
}

td {
  color: white !important;
}

input {
  background-color: white !important;
  color: black !important;
}

.Buttons {
  color:white !important;
  background-color: var(--button-color) !important;
}

#Labels {
  background-color: var(--secondary-color);
}

.UpdateButton {
  position: fixed !important;
  bottom: 100px;
  right: 0;
}

tr {
  align-content: left;
  background-color: var(--primary-color);
}